<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-4 Change-Pswd-wrapper">
	<div class="box">
		<h2>Reset Password</h2>
		<form name="form" [formGroup]="passwordreset"  #f="ngForm" novalidate>
			<div class="form-group" >
				<label for="newPassword">New Password</label>
				<input type="password" class="form-control" placeholder="New Password*"   formControlName="newPassword">
				<span style="color : red" *ngIf="passwordreset.get('newPassword').hasError('required') && passwordreset.get('newPassword').touched" >
                New Password is required . 
                </span>
                <span style="color : red" *ngIf="!passwordreset.get('newPassword').hasError('required')&& passwordreset.get('newPassword').hasError('validatePass')&& passwordreset.get('newPassword').touched" >Password must contain 6 characters, with a combination of letter, numbers and special characters.
				</span>
                <span *ngIf="passwordreset.get('newPassword').status == 'VALID'&& passwordreset.get('newPassword').untouched" > 
                </span>
			</div>
            <div class="form-group" >
        		<input type="password" class="form-control"  placeholder="Confirm password"  formControlName="confirmPassword">
				<span style="color : red"*ngIf="passwordreset.get('confirmPassword').hasError('required') && passwordreset.get('confirmPassword').touched" >
                Confirm password is required . 
                </span>
                <span style="color : red" *ngIf="!passwordreset.get('confirmPassword').hasError('required') && (passwordreset.get('confirmPassword').status == 'INVALID')&& passwordreset.get('confirmPassword').touched" > Confirm password is not matched.
                </span>
                <span *ngIf="passwordreset.get('confirmPassword').status == 'VALID'&& passwordreset.get('confirmPassword').untouched" > 
                </span>
			</div>
			<div class="">
				<button [disabled]="passwordreset.invalid" (click)="resetPassword();" class="btn btn-primary submit_btn">Submit</button>
				<!-- <a href="#/Login" style="float: right;line-height: 2.6;">goTo Login Page</a> -->
			</div>
		</form>
	</div>
</div>
